* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #0078d4;
    color: white;
    text-align: center;
    padding-top: 3em;
}

footer {
    padding-top: 2em;
    padding-bottom: 2em;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    margin-right: 70em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #004b85;
}

main {
    flex: 1;
    padding: 1em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20vw);
    grid-gap: 10px;
    justify-items: center;
    align-content: center;
}

.divimg{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.img {
    transition: 0.5s;
}

.img:hover {
    opacity: 0.5;
}